trigger:
- main

pool:
  vmImage: ubuntu-latest

variables:
  imageName: node-ci-cd-demo

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '18.x'
  displayName: Install Node.js

- script: |
    npm install
  displayName: Install dependencies

- script: |
    npm run lint
  displayName: Run lint

- script: |
    npm test
  displayName: Run tests

- script: |
    npm run build
  displayName: Build application

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: dist
    ArtifactName: node-build
    publishLocation: Container
  displayName: Publish build artifact

- task: Docker@2
  displayName: Build Docker image
  inputs:
    command: build
    repository: $(imageName)
    dockerfile: Dockerfile
    tags: |
      $(Build.BuildId)
