trigger:
- main

pool:
  vmImage: ubuntu-latest

variables:
  imageName: node-ci-cd-demo
  npm_cache_folder: $(Pipeline.Workspace)/.npm

stages:
- stage: Build
  displayName: Build Stage
  jobs:
  - job: Build
    displayName: App Build
    steps:
    - task: NodeTool@0
      displayName: Install Node.js
      inputs:
        versionSpec: '18.x'

    # npm cache restore
    - task: Cache@2
      displayName: Restore npm cache
      inputs:
        key: |
          npm | "$(Agent.OS)" | package-lock.json
        restoreKeys: |
          npm | "$(Agent.OS)"
        path: $(npm_cache_folder)

    - task: Npm@1
      displayName: Install dependencies
      inputs:
        command: install
      env:
        npm_config_cache: $(npm_cache_folder)

    - task: Npm@1
      displayName: Run lint
      inputs:
        command: custom
        customCommand: run lint

    - task: Npm@1
      displayName: Run tests
      inputs:
        command: custom
        customCommand: test

    - task: Npm@1
      displayName: Build application
      inputs:
        command: custom
        customCommand: run build

    - task: PublishBuildArtifacts@1
      displayName: Publish build artifact
      inputs:
        PathtoPublish: dist
        ArtifactName: node-build
        publishLocation: Container

    - task: Docker@2
      displayName: Build Docker image
      inputs:
        command: build
        repository: $(imageName)
        dockerfile: Dockerfile
        tags: |
          $(Build.BuildId)